* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS */
:root {
  --SECOUNDARYCOLOR: steelblue;
  --PRIMARYCOLOR: orange;
  --FONTCOLOR: orange;
  --BTNBACKGROUND: green;
  --BTNCOLOR: whitesmoke;
}
/* END COLORS */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--SECOUNDARYCOLOR);
}

.header {
  background-color: var(--PRIMARYCOLOR);
  height: 70px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: snow;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  line-height: 2.6;
}

#myform {
  background-color: var(--PRIMARYCOLOR);
  padding: 20px;
  color: var(--BTNCOLOR);
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

input {
  padding: 5px;
  width: 250px;
  margin-top: 10px;
  outline-color: steelblue;
  border: 1.5px groove #333;
}

button {
  margin-top: 20px;
  float: right;
  border-radius: 10px;
  border: none;
  background-color: var(--BTNBACKGROUND);
  color: var(--BTNCOLOR);
  font-weight: 600;
  padding: 10px;
  filter: brightness(120%);
}

.btn{
  margin-right: 10px;
}

button:hover {
  filter: brightness(140%);
}

.headding {
  text-align: center;
  color: snow;
}

.output {
  background: whitesmoke;
  filter: brightness(120%);
  color: black;
  font-weight: 600;
  padding: 0 10px;
  overflow-y: scroll;
  max-height: 5rem;
  border-radius: 5px;
}

.error {
  background: red;
  color: whitesmoke;
  font-weight: 500;
  padding: 5px;
  text-align: center;
}

.successful {
  background-color: steelblue;
  color: whitesmoke;
  font-weight: 500;
  padding: 5px;
  text-align: center;
}

.name-input {
  transition: all 0.5s ease-in-out;
}
